//- File: views/partials/footer.pug
//- Author: Jakob Clements
//- Project: COMP2068 Assignment 1 - Express Portfolio Site
//- Description: Footer displayed at the bottom of each page

hr
footer
    p Footer here