//- File: views/partials/header.pug
//- Author: Jakob Clements
//- Project: COMP2068 Assignment 1 - Express Portfolio Site
//- Description: Header displayed at the top of each page

head
    ul
        li
            a(href='/') Home
        li
            a(href='about') About Me
        li
            a(href='projects') Projects
        li
            a(href='services') Services
        li
            a(href='contact') Contact Me
            hr