//- File: views/about.pug
//- Author: Jakob Clements
//- Project: COMP2068 Assignment 1 - Express Portfolio Site
//- Description: Page to display information about me

extends layout

block content

    h5 Bio
    p My name is Jakob Clements. I am 24 years old and am in my 2nd year of studying Computer Programming at Georgian College.
    p In my free time I enjoy playing video games. My favourite games to play are Call of Duty: Modern Warfare and Oldschool Runescape.