//- File: views/about.pug
//- Author: Jakob Clements
//- Project: COMP2068 Assignment 1 - Express Portfolio Site
//- Description: Page to display information about me

extends layout

block content

    p My name is Jakob Clements. I am 24 years old and am in my 2nd year of studying Computer Programming at Georgian College.