//- File: views/contact.pug
//- Author: Jakob Clements
//- Project: COMP2068 Assignment 1 - Express Portfolio Site
//- Description: Page to display my contact information

extends layout

block content