//- File: views/index.pug
//- Author: Jakob Clements
//- Project: COMP2068 Assignment 1 - Express Portfolio Site
//- Description: The shared layout for each page of the site

extends layout

block content

    p This website is the personal portfolio for Jakob Clements
    p Use the links at the top of each page to navigate to my portfolio pages
