//- File: views/layout.pug
//- Author: Jakob Clements
//- Project: COMP2068 Assignment 1 - Express Portfolio Site
//- Description: The shared layout for each page of the site

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    include partials/header
  body.p-3
    h1= title
    p Welcome to the #{title} page
    block content
    include partials/footer