//- File: views/projects.pug
//- Author: Jakob Clements
//- Project: COMP2068 Assignment 1 - Express Portfolio Site
//- Description: Page to display information about my projects

extends layout

block content

    h5 My Projects
    ul
        li MGMT2008: Playstation App redesign project management assignment
        li COMP2125: iOS App (TBD)
        li COMP2068: Express Portfolio Website (You Are Here!)