//- File: views/projects.pug
//- Author: Jakob Clements
//- Project: COMP2068 Assignment 1 - Express Portfolio Site
//- Description: Page to display information about my projects

extends layout

block content